@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* shared styles */
* {
  font-family: "Mulish", sans-serif;
}

.text-primary {
  color: #ff5400;
}

/* header part styles */
.header {
  max-width: 1170px;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .logo {
  font-size: 2rem;
}

.nav ul {
  display: flex;
}

nav li {
  padding-right: 15px;
  list-style: none;
}

nav li a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  color: #424247;
}

/* banner styes */
.banner {
  background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");

  height: 500px;
  width: auto;

  background-repeat: no-repeat;
}

.banner-content {
  text-align: center;
  padding: 4rem;
  margin: 30px auto;
}
.banner-title {
  font-size: 4rem;
  color: #fff;
  font-weight: 800;
  margin-bottom: 24px;
}

.banner-description {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin: 0 100px;
  margin-bottom: 24px;
}

.banner-form {
  /* margin: 0 150px 150px 100px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2rem;
  border-radius: 8px; */

  margin: 0 150px 150px 100px;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  padding: 2rem;
  padding-bottom: 1.5rem;
  align-items: center;
  border-radius: 8px;
  gap: 1rem;
}

.banner-form input,
select {
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
  margin-right: 24px;
}

.banner-form button {
  padding: 0rem 3rem;
  background-color: #ff5400;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 8px;
}

.banner-form i {
  margin-right: 10px;
}
